.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff; /* Fundo azul */
  }
  
  .formContainer {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .formContainer h1 {
    text-align: center;
  }
  
  .formContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer label {
    margin-bottom: 8px;
  }
  
  .inputField {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #218838;
  }
  
  .formContainer p {
    text-align: center;
    margin-top: 20px;
  }
  
  .formContainer p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .formContainer p a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: #dc3545;
    text-align: center;
  }
  
  .success {
    color: #28a745;
    text-align: center;
  }
  