.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.label {
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 16px); /* Considerando o padding de 8px em cada lado */
    box-sizing: border-box;
    font-size: 14px;
}

.select {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 16px); /* Considerando o padding de 8px em cada lado */
    box-sizing: border-box;
    font-size: 14px;
}

.submit {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.submit:hover {
    background-color: #45a049;
}
